<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
	<!--
		FrontControllerServlet 배포하기
			1. 요청URL의 패턴을 지정한다.
				main.do, login.do, logout.do, list.do 형식의
				요청 URL을 접수받으면 FrontControllerServlet이 실행된다.
			2. 컨트롤러 클래스가 정의된 패키지를 지정한다.
				<init-param>
			 		<param-name>base-package</param-name>
			 		<param-value>패키지경로</param-value>
			 	</init-param>
			3. jsp파일을 숨긴 폴더를 지정한다..
				<init-param>
			 		<param-name>jsp-directory</param-name>
			 		<param-value>폴더경로</param-value>
			 	</init-param>
			4. 웹서버 시작시 서블릿 객체가 생성되고 초기화 작업이 완료되게 하기
				<load-on-startup>숫자</load-on-startup>
	 -->
	 <servlet>
	 	<servlet-name>frontControllerServlet</servlet-name>
	 	<servlet-class>kr.co.jhta.model2.FrontControllerServlet</servlet-class>
	 	<init-param>
	 		<param-name>base-package</param-name>
	 		<param-value>controllers</param-value>
	 	</init-param>
	 	<init-param>
	 		<param-name>jsp-directory</param-name>
	 		<param-value>/WEB-INF/views/</param-value>
	 	</init-param>
	 	<load-on-startup>1</load-on-startup>
	 </servlet>
	 <servlet-mapping>
	 	<servlet-name>frontControllerServlet</servlet-name>
	 	<url-pattern>*.do</url-pattern>
	 </servlet-mapping>

	 <jsp-config>
	 	<jsp-property-group>
	 		<url-pattern>*.jsp</url-pattern>
	 		<include-prelude>/WEB-INF/views/common/tag.jsp</include-prelude>
	 	</jsp-property-group>
	 </jsp-config>
</web-app>